header {
	position: relative;
	background: var( --main );
	color: var( --white );
	height: 4em;
	width: 100%;
	margin-bottom: 1.5em;
	padding: 0 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	// z-index: 5;

	@include xl {
		padding: 0 calc( 50% - ( var( --desktop ) / 2 ) );
	}

	a:first-child {
		color: var( --white );
		text-decoration: none;
	}

	a:last-child {
		width: 2em;
		height: 2em;
		transform-origin: center;
		transition: transform 0.2s ease;

		&:focus {
			transform: scale( 1.1 );
		}

		div {
			background: var( --white );
			width: 100%;
			height: 0.4em;
			margin-bottom: 0.4em;
		}
	}

	// > label {
	// 	position: relative;
	// 	z-index: 3;
	// 	display: block;
	// 	width: 1.5em;
	// 	height: 1.5em;
	// 	background-color: var( --main );
	// 	background-image: repeating-linear-gradient( to bottom,
	// 		var( --white ),
	// 		var( --white ) 15%,
	// 		transparent calc( 15% + 1px ),
	// 		transparent 40% );
	// 	transition: transform 0.2s ease;
    //
	// }

	// > [type="checkbox"] {
	// 	position:absolute;
	// 	right: 1em;
	// 	width: 1.5rem;
	// 	height: 1.5rem;
	// 	margin: 0;
	// 	padding: 0;
    //
	// 	@include xl {
	// 		right: 0;
	// 		right: calc( ( 100vw - var( --desktop ) ) / 2 );
	// 	}
    //
	// 	&:focus + label {
	// 		transform: scale( 1.1 );
	// 	}
    //
	// 	&:checked {
    //
	// 		+ label {
	// 			background-image: linear-gradient( 45deg,
	// 					transparent 0,
	// 					transparent 42.5%,
	// 					var( --white ) calc( 42.5% + 1px ),
	// 					var( --white ) 57.5%,
	// 					transparent calc( 57.5% + 1px ),
	// 					transparent 100% ),
	// 				linear-gradient( -45deg,
	// 					transparent 0,
	// 					transparent 42.5%,
	// 					var( --white ) calc( 42.5% + 1px ),
	// 					var( --white ) 57.5%,
	// 					transparent calc( 57.5% + 1px ),
	// 					transparent 100% );
	// 		}
    //
	// 		~ ol {
	// 			display: block;
	// 			opacity: 1;
	// 			transform: translateX( 0 );
	// 		}
	// 	}
	// }
}

dialog {
	position: fixed;
	top: 50%;
	transform: translateY( -50% );
	z-index: 11;
	width: 400px;
	color: var( --white );
	background: var( --main );
	border: none;
	padding: 3em;
	font-size: 1em;

	&:target {
		display: block;

		~ nav,
		~ main {
			filter: blur( 10px );
		}
	}

	button[type=submit] {
		position: relative;
		width: 100%;
		border: 2px solid var( --white );
		background: transparent;
		color: var( --white );
		text-align: center;
		padding: 0.6em 0;
		font-size: 1.3em;
		transition:
			color 0.2s ease,
			transform 0.2s ease,
			border-color 0.2s ease;

		&:focus {
			border-color: var( --black );
			color: var( --black );
			transform: scale( 1.1 );
		}
	}

	&[open] ~ nav,
	&[open] ~ main {
		filter: blur( 10px );
	}

	&::backdrop {
		background: rgba( 255, 255, 255, 0.4 );
	}

	* + * {
		margin-top: 1em;
	}

	a,
	label,
	input[type=email],
	input[type=password] {
		width: 100%;
		display: block;
	}

	input[type=checkbox] {
		display: inline;

		+ label {
			display: inline;
		}
	}

	form a {
		position: relative;
		display: block;
		color: var( --white );
		transition: color 0.2s ease, transform 0.2s ease;
		transform-origin: left center;

		&:focus {
			color: var( --black );
			transform: scale( 1.1 );
		}
	}
}

nav > a,
dialog > a {
	position: absolute;
	top: 1em;
	right: 1em;
	width: 2em;
	height: 2em;
	background: transparent;
	border: none;
	padding: 0;

	div {
		width: 100%;
		height: 0.5em;
		position: absolute;
		top: 50%;
		left: 0;
		margin: 0;
		background: var( --white );
		transform-origin: center;

		&:first-child {
			transform: translateY( -50% ) rotate( 45deg );
		}

		&:last-child {
			transform-origin: center;
			transform: translateY( -50% ) rotate( -45deg );
		}
	}
}