nav {
	position: fixed;
	right: 0;
	top: 0;
	width: 20%;
	min-height: 100vh;
	max-width: 25em;
	min-width: 15em;
	z-index: 1;
	opacity: 0;
	padding: 3.4em 1em 1em;
	background: var( --main );
	box-shadow: 0 0 0.5em 1px var( --shadow );
	transform: translateX( 100% );
	transition: transform 0.3s ease, opacity 0.3s ease;

	&:target {
		opacity: 1;
		transform: translateX( 0 );
	}

	li {
		line-height: 1.4;
		margin-bottom: 0.7em;
		font-size: 1.3em;
	}

	form {
		[type="email"],
		[type="password"] {
			width: 100%;
			margin-bottom: 1em;
		}

		a {
			margin: 1em 0;
		}
	}
}
