:root {
	--fallback-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font: 'Ampersand', 'Roboto', var( --header-font );
	--header-font: 'Ampersand', 'Lato', var( --fallback-fonts );

	--main: #FF9800;
	--white: #FEFDFF;
	--black: #000;
	--gray: #A3A9AA;
	--shadow: rgba( 0, 0, 0, 0.4 );
	--selected-shadow: rgba( 17, 96, 210, 0.4 );

	--desktop: 80em;

}
// Media queries
$desktop: 80em;
$medium: 60em;
$medium-small: 40em;

@mixin ms {
	@media ( min-width: #{$medium-small} ) {
		@content;
	}
}

@mixin m {
	@media ( min-width: #{$medium} ) {
		@content;
	}
}

// Extra large devices

@mixin xl {
	@media ( min-width: #{$desktop} ) {
		@content;
	}
}
