@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Regular.woff2") format("woff2"), url("fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Bold.woff2") format("woff2"), url("fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.woff2") format("woff2"), url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ampersand';
  src: local("FreeSerif"), local("Baskerville"), local("Goudy Old Style"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+26; }

:root {
  --fallback-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font: "Ampersand", "Roboto", var(--header-font);
  --header-font: "Ampersand", "Lato", var(--fallback-fonts);
  --main: #FF9800;
  --white: #FEFDFF;
  --black: #000;
  --gray: #A3A9AA;
  --shadow: rgba(0, 0, 0, 0.4);
  --selected-shadow: rgba(17, 96, 210, 0.4);
  --desktop: 80em; }

body {
  font-family: var(--font); }

* {
  box-sizing: border-box; }

h1 {
  font: 700 1.6em var(--header-font); }

p {
  margin-bottom: 1.5em; }

nav {
  position: relative;
  background: var(--main);
  color: var(--white);
  height: 4em;
  width: 100%;
  margin-bottom: 1.5em;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 5; }
  @media (min-width: 80em) {
    nav {
      padding: 0 calc( 50% - ( var( --desktop ) / 2 )); } }
  nav > a {
    color: var(--white);
    padding: 1em;
    opacity: 0;
    transition: opacity 0.2s ease; }
    nav > a:focus {
      opacity: 1; }
  nav > label {
    position: relative;
    z-index: 3;
    display: block;
    width: 1.5em;
    height: 1.5em;
    background-color: var(--main);
    background-image: repeating-linear-gradient(to bottom, var(--white), var(--white) 15%, transparent calc( 15% + 1px), transparent 40%);
    transition: transform 0.2s ease; }
  nav > [type="checkbox"] {
    position: absolute;
    right: 1em;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    padding: 0; }
    @media (min-width: 80em) {
      nav > [type="checkbox"] {
        right: 0;
        right: calc( ( 100vw - var( --desktop ) ) / 2); } }
    nav > [type="checkbox"]:focus + label {
      transform: scale(1.1); }
    nav > [type="checkbox"]:checked + label {
      background-image: linear-gradient(45deg, transparent 0, transparent 42.5%, var(--white) calc( 42.5% + 1px), var(--white) 57.5%, transparent calc( 57.5% + 1px), transparent 100%), linear-gradient(-45deg, transparent 0, transparent 42.5%, var(--white) calc( 42.5% + 1px), var(--white) 57.5%, transparent calc( 57.5% + 1px), transparent 100%); }
    nav > [type="checkbox"]:checked ~ ol {
      display: block;
      opacity: 1;
      transform: translateX(0); }
  nav ol {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    opacity: 0;
    display: none;
    min-height: 100vh;
    max-width: 25em;
    min-width: 15em;
    padding: 3.4em 1em 1em;
    background: var(--main);
    box-shadow: 0 0 0.5em 1px var(--shadow);
    transform: translateX(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 2; }
    nav ol li {
      line-height: 1.4;
      margin-bottom: 0.7em;
      font-size: 1.3em; }
    nav ol form input[type="email"],
    nav ol form input[type="password"] {
      width: 100%;
      margin-bottom: 1em; }
    nav ol form a {
      margin: 1em 0; }

nav a,
dialog a {
  position: relative;
  display: block;
  color: var(--white);
  transition: color 0.2s ease, transform 0.2s ease;
  transform-origin: left center; }
  nav a:focus,
  dialog a:focus {
    color: var(--black);
    transform: scale(1.1); }

nav button[type=submit],
dialog button[type=submit] {
  position: relative;
  width: 100%;
  border: 2px solid var(--white);
  background: transparent;
  color: var(--white);
  text-align: center;
  padding: 0.6em 0;
  font-size: 1.3em;
  transition: color 0.2s ease, transform 0.2s ease, border-color 0.2s ease; }
  nav button[type=submit]:focus,
  dialog button[type=submit]:focus {
    border-color: var(--black);
    color: var(--black);
    transform: scale(1.1); }

dialog {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
  width: 400px;
  color: var(--white);
  background: var(--main);
  border: none;
  padding: 3em;
  font-size: 1em; }
  dialog:target {
    display: block; }
    dialog:target ~ nav,
    dialog:target ~ main {
      filter: blur(10px); }
  dialog[open] ~ nav,
  dialog[open] ~ main {
    filter: blur(10px); }
  dialog::backdrop {
    background: rgba(255, 255, 255, 0.4); }
  dialog * + * {
    margin-top: 1em; }
  dialog a,
  dialog label,
  dialog input[type=email],
  dialog input[type=password] {
    width: 100%;
    display: block; }
  dialog input[type=checkbox] {
    display: inline; }
    dialog input[type=checkbox] + label {
      display: inline; }
  dialog > button {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
    background: transparent;
    border: none;
    padding: 0; }
    dialog > button div {
      width: 100%;
      height: 0.5em;
      position: absolute;
      top: 50%;
      left: 0;
      margin: 0;
      background: var(--white);
      transform-origin: center; }
      dialog > button div:first-child {
        transform: rotate(45deg); }
      dialog > button div:last-child {
        transform: rotate(-45deg); }

main {
  max-width: 80em;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 2em;
  align-items: start; }
  @media (min-width: 60em) {
    main {
      grid-template-columns: repeat(auto-fill, minmax(20em, 1fr)); } }
  main h1 {
    grid-column-start: 1; }
    @media (min-width: 40em) {
      main h1 {
        grid-column-end: 4; } }

article {
  position: relative;
  transition: max-height 0.3s ease; }
  article * {
    transform: translate3d(0, 0, 0); }
  @media (min-width: 60em) {
    article:nth-of-type(n+1):nth-of-type(-n+3) > div {
      max-height: 20em; }
      article:nth-of-type(n+1):nth-of-type(-n+3) > div figure {
        height: 20em; } }
  article > div {
    height: auto;
    max-height: 10em;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    transition: max-height 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    will-change: max-height;
    box-shadow: 0 0 0.5em 1px var(--shadow); }
    article > div > *:not(figure),
    article > div > *:not(figure) *,
    article > div footer {
      visibility: hidden; }
    @media (min-width: 60em) {
      article > div {
        max-height: 15em; }
        article > div figure {
          height: 15em; } }
  article > label {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1; }
    article > label div {
      position: absolute;
      right: 1em;
      top: 1.7em;
      height: 0.4em;
      width: 1.4em;
      background: var(--white);
      transform-origin: center center;
      opacity: 0;
      transition: opacity 0.1s ease; }
      article > label div:nth-child(1) {
        transform: translateY(-0.5em) rotate(45deg); }
      article > label div:nth-child(2) {
        transform: translateY(-0.5em) rotate(-45deg); }
  article [type='checkbox'] {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: -1;
    transition: height 10ms ease; }
    article [type='checkbox']:focus {
      outline: none; }
      article [type='checkbox']:focus ~ div {
        transform: scale(1.1);
        box-shadow: 0 0 2em 3px var(--selected-shadow); }
    article [type='checkbox']:not(:checked) {
      transition-delay: 0.3s; }
    article [type='checkbox']:checked {
      height: 3em;
      width: 3em; }
      article [type='checkbox']:checked ~ div {
        border-radius: 10px;
        max-height: 1000px;
        pointer-events: all;
        transform: scale(1); }
        article [type='checkbox']:checked ~ div figure {
          height: 20em; }
        article [type='checkbox']:checked ~ div figcaption {
          transform: translateY(0); }
        article [type='checkbox']:checked ~ div p {
          position: initial; }
        article [type='checkbox']:checked ~ div *:not(figure) {
          visibility: visible; }
      article [type='checkbox']:checked + label {
        height: 3em;
        width: 3em; }
        article [type='checkbox']:checked + label div {
          opacity: 1; }
  article form {
    padding: 0 1em; }

figure {
  position: relative;
  bottom: 0;
  margin-bottom: 2em;
  height: 10em;
  transition: height 0.2s ease; }
  figure img {
    width: 100%;
    height: 85%;
    object-fit: cover; }
  figure p {
    width: 100%;
    padding: 1rem;
    margin: 0 -1rem;
    font-size: 1.2em;
    background: var(--white); }

figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 1em;
  background: var(--white);
  transition: transform 0.3s ease;
  transform: translateY(1em); }

fieldset {
  position: relative;
  text-align: center;
  padding: 0 1rem 2rem;
  font-size: 0;
  margin-bottom: 1em; }
  fieldset legend {
    position: relative;
    z-index: 1;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 0.5em; }
  fieldset label {
    font-size: 1rem;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    transform: rotate(0) scale(1);
    transition: all 0.3s ease;
    width: 25%; }
    fieldset label::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: var(--white);
      z-index: -1;
      transition: all 0.3s ease;
      transform: rotate(0) scale(1); }
  fieldset svg {
    display: block;
    height: 30px;
    order: -1;
    width: 30px; }
  fieldset [type="radio"] {
    position: absolute;
    top: initial;
    right: initial;
    width: 22%;
    height: 60%;
    margin: 0;
    z-index: -1;
    opacity: 0; }
    fieldset [type="radio"]:nth-of-type(1) {
      left: 5%; }
    fieldset [type="radio"]:focus + label::after {
      box-shadow: 0 0 0.5em 1px var(--selected-shadow);
      transform: rotate(-20deg) scale(0.8); }
    fieldset [type="radio"]:checked + label {
      transform: rotate(20deg) scale(1.2); }
  fieldset progress {
    display: block;
    font-size: 1rem;
    width: 100%;
    margin-top: 1.2em; }

article ol {
  padding: 0 1em; }
  article ol li {
    position: relative;
    display: block;
    padding: 1em 2em 1em 1em;
    margin-right: auto;
    margin-bottom: 1em;
    border-radius: 0 5px 5px;
    background: var(--gray); }
  article ol p {
    color: var(--white);
    margin-bottom: 0.5em; }
  article ol footer p {
    font-size: 0.7em; }
  article ol footer [data-status="SEND"],
  article ol footer [data-status="DELIVERING"] {
    font-size: 0; }
    article ol footer [data-status="SEND"]::before,
    article ol footer [data-status="DELIVERING"]::before {
      content: '✓';
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1rem;
      letter-spacing: -5px; }
  article ol footer [data-status="SEND"]::before {
    content: '✓✓'; }

article form {
  padding: 0 1em 1em; }
  article form label {
    display: block;
    margin-bottom: 0.5em; }
  article form textarea {
    width: 100%;
    min-height: 4em;
    margin-bottom: 1em; }
  article form button {
    width: 100%;
    padding: 1em 0;
    border: 0;
    background: var(--main);
    font-size: 1em;
    color: var(--white);
    box-shadow: 0 0 0.5em 1px var(--selected-shadow);
    box-sizing: content-box; }

/*# sourceMappingURL=styles.css.map */
